Dependencies
/node_modules
/.pnpm
/pnpm-lock.yaml

Next.js build artifacts
/.next/
/out/

Production
/build

Misc
.DS_Store
*.pem

Local Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

IDE config
.vscode/
